{% extends 'base.html' %}
{% block content %}
        <div class="text-center mb-2"><b>{{ name }}</b>
    </div>
        <div class="container border-right border-left">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs nav-fill mt-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'object' obj_id %}">Информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'photos' obj_id %}">Фото</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'duplicates' obj_id %}">Дубликаты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Действия</a>
                        </li>
                        <li class="mr-2"><p>История работы</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container border-right border-left">
            <div class="row">
                <div class="col-10">
                    <table class="action-table table table-responsible table-striped">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th class="w-50" scope="col">Дата</th>
                            <th class="w-50" scope="col">Сотрудник</th>
                            <th scope="col">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ object.datetime1|date:"Y.m.d H:i" }}</td>
                                <td>{{ object.agent|default_if_none:"" }}</td>
                                <td>{{ object.stat_enum }}</td>


                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <table class="table table-striped">
                        <tbody class="text-center">
                        <tr>
                            <td>
                                <b>05.05.1923 15:40</b>
                                <div><b>Mark</b></div>
                                <div><u>Комментарий</u> +++</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>05.05.1923 15:40</b>
                                <div><b>Thornton</b></div>
                                <div><u>Комментарий</u> +++</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>05.05.1923 15:40</b>
                                <div><b>the Bird</b></div>
                                <div><u>Комментарий</u> +++</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}