{% extends 'base.html' %}
{% block content %}
    <div class="table-footer container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="tableFixHead table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th class="col-1" scope="col">Создан, Изменен</th>
                        <th  scope="col">ID</th>
                        <th class="col-1" scope="col">Тип недвиж.</th>
                        <th class="col-1" scope="col">ФИО</th>
                        <th class="col-1" scope="col">Телефон</th>
                        <th  scope="col">Адрес</th>
                        <th  scope="col">Ком.</th>
                        <th class="col-1" scope="col">Площадь</th>
                        <th class="col-1" scope="col">Цена</th>
                        <th class="col-1" scope="col">Ответственный</th>
                        <th class="col-1" scope="col">Договор/Встреча</th>
                        <th class="col-2" scope="col">Служеб. Комментарий</th>
                        <th class="col-2" scope="col">Послед. Задача</th>
                        <th class="col-1" scope="col">Статус</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for object in objects %}
                        <tr class="link_row"
                            {% if object.status_enum == 'Архив (без сделки)' %}
                            style="background-color: rgba(255, 209, 165, 0.7)"
                            {% elif object.status_enum == 'Сделка (завершена)'%}
                            style="background-color: rgba(197, 247, 255, 0.7)"
                            {% elif object.status_enum == 'Отложенные'%}
                            style="background-color: rgba(237, 237, 237, 0.7)"
                            {% endif %}

                            onclick="document.location.href='{% url 'object' row_id=object.row_id %}'">
                            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                            <td>{{ object.sys_date_create|date:"Y.m.d H:i" }} {{ object.sys_date_update|date:"Y.m.d" }}</td>
                            <td>{{ object.lot }}
                                <br>
                                <div class="text-center">
                                    {% if object.alt_check %}А{% endif %}{% if object.sobstv_check %}C{% endif %}
                                    {% if object.kontr_check %}Р{% endif %}{% if object.nal_check %}Н{% endif %}
                                    {% if object.ipoteka_check %}И{% endif %}
                                </div>
                            </td>
                            <td>{{ object.realty_enum }}</td>
                            <td>{{ object.fio }}</td>
                            <td>{{ object.tel1 }} {{ object.tel2|default_if_none:"" }}</td>
                            <td>{{ object.addr }}</td>
                            <td>{{ object.rooms|default_if_none:"" }} {{ object.rooms_from|default_if_none:"" }}</td>
                            <td>{{ object.area1_from|default_if_none:"" }}
                                - {{ object.area1|default_if_none:"" }}</td>
                            <td>{{ object.cost_from|default_if_none:"0" }}
                                - {{ object.cost|default_if_none:"" }}</td>
                            <td>{{ object.agent }}</td>
                            <td>{{ object.doc_enum|default_if_none:"" }}</td>
                            <td style="max-width: 120px">
                                <div class="comment_text">
                                    {{ object.comment|default_if_none:"" }}
                                </div>
                            </td>
                            <td style="max-width: 80px">
                                <div class="comment_text">
                                    {{ object.last_agent|default_if_none:"" }}
                                    {{ object.last_work_date|date:"d.m.Y H:i" }}
                                    {{ object.last_comment|default_if_none:"" }}
                                </div>
                            </td>
                            <td>{{ object.status_enum }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="text-center">Всего объектов {{ paginator.count }}</div>
            <div class="mb-3">
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>


{% endblock %}