<table class="table table-striped">
    <tbody class="text-left">
    {% for comment in comments %}
        <tr class="link_row" data-toggle="modal" data-target="#exampleModalCenter{{ comment.row_id }}">
            <td>
                <b>{{ comment.date|date:"d.m.Y H:i" }}</b>
                <div><b>{{ comment.create_agent|default_if_none:"" }}</b></div>
                <div>{{ comment.name }}</div>
                {% if comment.show_enum == "Показ" %}
                    <div>Заявка: {{ comment.comment_client }}</div>
                {% endif %}
                {% if comment.result is not none %}
                    <div>Результат: {{ comment.result }}</div>
                {% endif %}
            </td>
        </tr>

        <div class="container">
            <div class="modal fade" id="exampleModalCenter{{ comment.row_id }}" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document"
                     style="width: 30vw; max-width: 30vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ comment.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div>Карточка
                                            создана: {{ comment.sys_date_create|date:"d.m.Y H:i" }} {{ comment.create_agent|default_if_none:"" }} </div>
                                        <div>Вид: {{ comment.show_enum }}</div>

                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="date_of_birth">Дата</span>
                                                <input type="text" class="form-control"
                                                       aria-describedby="date_of_birth"
                                                       value="{{ comment.date|date:"d.m.Y H:i" }}">

                                            </div>
                                        </div>


                                        {% if comment.client_id is not none %}
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="application">Заявка</span>
                                                </div>
                                                <span class="form-control text-truncate"
                                                      aria-describedby="application">
                                                                    <a href="{% url 'object' comment.client_id %}">{{ comment.comment_client }}</a>
                                                                </span>
                                            </div>




                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="obj">Объект</span>
                                                </div>

                                                <span class="form-control text-truncate"
                                                      aria-describedby="obj">
                                                        <a href="{% url 'object' comment.realty_id %}">{{ comment.comment_object }}"></a>
                                                            </span>
                                            </div>



                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Описание</span>
                                                </div>
                                                <textarea class="form-control"
                                                          aria-label="With textarea"
                                                >{{ comment.comment }}</textarea>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Результат</span>
                                                </div>
                                                <textarea class="form-control"
                                                          aria-label="With textarea"
                                                >{{ comment.result }}</textarea>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="demonstration">Показ состоялся?</span>
                                                </div>
                                                <input type="text" class="form-control"
                                                       aria-describedby="demonstration"
                                                       value="{{ comment.result_enum }}">
                                            </div>


                                            </div>
                                        {% endif %}

                                    {% if comment.show_enum != "Показ" %}
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Описание</span>
                                            </div>
                                            <textarea class="form-control"
                                                      aria-label="With textarea"
                                            > {{ comment.comment }}</textarea>
                                        </div>


                                    {% endif %}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <br>
        <br>
        <div class="text-center mb-2">
                        <b>История работы отсутствует</b>
                    </div>
    {% endfor %}

    </tbody>
</table>