{% extends 'base.html' %}
{% block content %}
    <ul class="nav nav-tabs nav-fill mt-2">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Информация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Фото</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Дубликаты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Действия</a>
        </li>
        <li class="mr-2"><p>История работы</p></li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <table class="table">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Дубликат</th>
            <th scope="col">Клиент</th>
            <th scope="col">Агент</th>

        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
        <tr>
            <td>{{object.sys_date_create|date:"d.m.Y" }}</td>
            <td class="w-5">{{ object.duplicate }}</td>
            <td class="w-75">{{ object.name }}</td>
            <td class="w-20">{{ object.agent }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
            <div class="col-2">
                <table class="table table-striped">
                    <tbody class="text-center">
                    <tr>
                        <td>
                            <b>05.05.1923 15:40</b>
                            <div><b>Mark</b></div>
                            <div><u>Комментарий</u> +++</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>05.05.1923 15:40</b>
                            <div><b>Thornton</b></div>
                            <div><u>Комментарий</u> +++</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>05.05.1923 15:40</b>
                            <div><b>the Bird</b></div>
                            <div><u>Комментарий</u> +++</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}