{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>Параметры фильтрации</div>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="req_type">Вид запроса</span>
                    </div>
                    <input type="text" class="form-control"
                           aria-describedby="req_type">
                </div>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="req_type">Вид запроса</span>
                    </div>
                    <input type="text" class="form-control"
                           aria-describedby="req_type">
                </div>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="req_type">Вид запроса</span>
                    </div>
                    <input type="text" class="form-control"
                           aria-describedby="req_type">
                </div>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="req_type">Вид запроса</span>
                    </div>
                    <input type="text" class="form-control"
                           aria-describedby="req_type">
                </div>

            </div>

        </div>
    </div>
{% endblock %}