{% extends 'base.html' %}
{% block content %}
    <table class="tableFixHead table table-bordered table-sm"
           cellspacing="0">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Создан, Изменен</th>
            <th scope="col">ID</th>
            <th scope="col">Вид</th>
            <th scope="col">Тип недвиж.</th>
            <th scope="col">ФИО</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адрес</th>
            <th scope="col">Комнат</th>
            <th scope="col">Ответственный</th>
            <th scope="col">Договор/Встреча</th>
            <th scope="col">Служеб. Комментарий</th>
            <th scope="col">Послед. Задача</th>
            <th scope="col">Статус</th>

        </tr>
        </thead>
        <tbody>
        {% for object in objects %}

            <tr class="link_row" onclick="document.location.href='{% url 'object' row_id=object.row_id %}'">
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ object.sys_date_create|date:"Y.m.d H:i" }} {{ object.sys_date_update|date:"Y.m.d" }}</td>
                <td>{{ object.lot }}
                    <br>
                    <div class="text-center">
                        {% if object.alt_check %}А{% endif %}{% if object.sobstv_check %}C{% endif %}{% if object.kontr_check %}Р{% endif %}{% if object.nal_check %}Н{% endif %}{% if object.ipoteka_check %}И{% endif %}
                    </div>
                </td>
                <td>{{ object.client_enum }}</td>
                <td>{{ object.realty_enum }}</td>
                <td>{{ object.fio }}</td>
                <td>{{ object.tel1 }} {{ object.tel2|default_if_none:"" }}</td>
                <td>{{ object.addr }}</td>
                <td>{{ object.rooms|default_if_none:"" }} {{ object.rooms_from|default_if_none:"" }}</td>
                <td>{{ object.agent }}</td>
                <td>{{ object.doc_enum|default_if_none:"" }}</td>
                <td>
                    <div class="comment_text">
                        {{ object.comment|default_if_none:"" }}
                    </div>
                </td>
                <td>
                    <div class="comment_text">
                        {{ object.last_agent|default_if_none:"" }}
                        {{ object.last_work_date|date:"d.m.Y H:i" }}
                        {{ object.last_comment|default_if_none:"" }}
                    </div>
                </td>
                <td>{{ object.status_enum }}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">Всего объектов {{ paginator.count }}</div>
    <div class="mb-3">
        {% include 'pagination.html' %}
    </div>
{% endblock %}